* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  border: 3%;
  width: 100%;
/*  max-width: 1000px;*/
  margin: 0 auto;
}

.row::before, .row::after {
  content: "";
  clear: both;
  display: table;
}

.col {
  border: 3px solid white;
  float: left;
  min-height: 7px;
}

/* Columnas */
/*Una columna*/
.col.span1 { width: 8.333%; background-color: #F7DC6F;}
/*Dos columna*/
.col.span2 { width: 16.666%; background-color: #58D68D;}
/*Tres columnas*/
.col.span3 { width: 25%; background-color: #5499C7;}
/*Cuatro columnas*/
.col.span4 { width: 33.333%; background-color: #AF7AC5;}
/*Seis columnas*/
.col.span6 { width: 50%; background-color: #CD6155;}
/*Doce columnas*/
.col.span12 { width: 100%; background-color: #5499C7;}

@media all and (max-width: 425px) and (orientation: landscape){
  [class = "col"]{
    width: 100%;
  }
}
