* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
/*  border: 3%;
  height: 80%;*/
  margin: 0 auto;
  width: 100%;
}

.row::after, .row::before {
  content: "";
  clear: both;
  display: table;
}

.col {
  border: 2px solid white;
  color: white;
  float: left;
  min-height: 7px;
  text-align: center;
}

/* Columnas */
/*Doce columnas*/
.col.span12 {
  background-color: #f7ea00;
  float: left;
  height: 120px;
  width: 100%;
}
/*Ocho columnas*/
.col.span8 {
  background-color: #34eaa9;
  float: left;
  height: 450px;
  width: 100%;
}
/*Cuatro columna*/
.col.span4 {
  background-color: #e486ea;
  float: left;
  height: 90px;
  width: 100%;
}

@media all and (max-width: 425px) and (orientation: landscape){
  [class = "col"]{
    width: 100%;
  }
}
